body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #1f1f1f;
  visibility: hidden;
}

.pace {
  visibility: visible;
}

main {
  flex: 1 0 auto;
}

nav {
  height: 64px;
}

img.nav-logo {
  height: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
}

body > main > div > ul.slides > li > div > h3 {

}

.home_colour {
  color: #d65050;  
}

.container {
  height: 100%;
}

.section {
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left bottom;
  background-color: #1f1f1f;   
}

@media only screen and (max-device-width: 480px) {
  .section {
    background-image: none;
    background-color: #1f1f1f;  
  }  
}

.networking {
 
}

.hw_sw {
  
}

.support {
 
}

.cctv {
 
}

.contact {

}

.title {
  color: white;
}

.title-icon {
  font-size: 57px;
  color: #1fb840;
  margin-top: 5px;
}

.divider {
  width: 100%;
  height: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.section-text {
  color: #fff;
  font-size: 20px;
  text-align: justify;
  margin-top: 15px;
}

.card .card-title {
  font-size: 18px;
}

.card-image {
   height: 176px; 
}

#map {
  width: 100%;
  height: 500px;
}

.contact_text {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3);
}

.contact_text h4 {
  margin-left: 15px;
}

.fa-li {
  left: -1.5em !important;
  top: 0 !important;  
}

#contact > div > div.row > div.col.s12.m6.l6.contact_text > ul > li {
  font-size: inherit !important;  
}